# Ignore Datasets
Results/Pusher/Teacher/dataset_5000steps.pt
Results/Pusher/Teacher/dataset_10000steps.pt
Results/Pusher/Teacher/dataset_50000steps.pt
# Ignore log
**/wandb/*
**/.pytest_cache/
**/__pycache__/
*.pyc
*.log
